@import 'icons.css';

:root {
  --black: #333333;
  --white: #FFFFFF;
  --gray: #777777;
  --blue: #5180df;
  --red: #dd2e2e;
  --orange: #eb8f39;
  --green: #3b6936;
  --padding-small: .3rem;
  --padding-medium: .7rem;
}

html {
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: var(--black);
}

h1 {
  font-size: 2.7rem;
}

p {
  font-size: 1.2rem;
}

small {
  display: block;
  font-size: 70%;
  font-weight: normal;
}

em {
  font-weight: 500;
}

li {
  list-style-type: none;
  margin: 1rem 0;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header img {
  height: 10rem;
  width: 100%;
}

.source {
  text-align: right;
  color: var(--gray);
  font-size: 1.1rem;
}

#legend {
  position: absolute;
  right: 20%;
  top: 35%;
  font-weight: 500;
  font-size: 2rem;
}
#legend div {
  line-height: 2rem;
  position: relative;
}
#legend div::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 75%;
  display: inline-block;
  background-color: #FFF;
  position: absolute;
  left: -2.4rem;
  border-radius: 50%;
  padding: 0px;
  border: 1px solid #333;
  top: -1px;
  background-position: 50%;
}
#legend .male::before {
  background-image: url('/imgs/male.png');
}
#legend .female::before {
  background-image: url('/imgs/female.png');
}


body::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('./img/bg1.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 79% 27%;
  opacity: .1;
  position: absolute;
}


.wrap {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto 10px;
  border-right: 1px dashed #CCC;
}
.icon {
  margin-right: 2rem;
  font-size: 2rem;
  color: #666;
}
.charts {
  width: 100%;
}
.chart {
  position: relative;
  margin: 1px 0;
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: right;
  border-radius: .5rem;
  color: #FFF;
  text-shadow: 0 0 #000;
  border: 1px solid #333;
}
.chart:before {
  content: '';
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 75%;
  display: inline-block;
  background-color: #FFF;
  position: absolute;
  left: -1rem;
  border-radius: 50%;
  padding: 0px;
  border: 1px solid #333;
  top: -1px;
  background-position: 50%;
}
.second {
  background-color: #da3969;
}
.second:before {
  background-image: url('/imgs/female.png');
}
.first {
  background-color: #062c77;
}
.first:before {
  background-image: url('/imgs/male.png');
}


.y-1992 .first {
  width: 98.75%;
}
.y-1992 .second {
  width: 16%;
}
.y-1993 .first {
  width: 58.5%;
}
.y-1993 .second {
  width: 16.25%;
}
.y-1994 .first {
  width: 38%;
}
.y-1994 .second {
  width: 11.25%;
}
.y-1995 .first {
  width: 23.75%;
}
.y-1995 .second {
  width: 11.75%;
}
.y-1996 .first {
  width: 14%;
}
.y-1996 .second {
  width: 7.5%;
}
