@import 'icons.css';

:root {
  --black: #222222;
  --white: #EEEEEE;
  --gray: #777777;
  --blue: #5180df;
  --red: #dd2e2e;
  --orange: #db700c;
  --green: #3b6936;
  --footer: #255877;
  --footer-height: 2rem;
  --small: .3rem;
  --medium: .7rem;
  --large: 1rem;
  --x-large: 2rem;
  --font-size-bigger: 3rem;
  --font-size-big: 1.4rem;
  --font-size-small: .75rem;
  --first-color: #db700c;
  --second-color: #da3969;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  color: var(--black);
  width: 100%;
  background-image: url('/imgs/bg2.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  position: relative;
}
body.fb {
  height: 1350px;
}
body.in {
  height: 1080px;
}

h1 {
  font-size: var(--font-size-bigger);
  font-family: 'Arvo', serif;
  line-height: 100%;
  margin: var(--large) 0;
}

small {
  display: block;
  font-size: var(--font-size-small);
  font-weight: normal;
}

em {
  font-weight: 500;
}

li {
  list-style-type: none;
  margin: var(--large) 0;
}

a {
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--large);
  text-shadow: 0 1px var(--gray);
}
header div {
  width: 50%;
}
header div:first-child {
  margin-right: 3%;
  width: 60%;
}
header img {
  width: 100%;
  border-radius: var(--medium);
}
header .source {
  font-style: italic;
}

.fb footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--large);
  left: 0;
  right: 0;
  font-weight: 500;
  background-color: var(--footer);
  color: var(--white);
  border-top: 1px solid var(--gray);
  height: var(--footer-height);
  text-shadow: 0 1px var(--gray);
}
.fb footer div {
  text-align: center;
  width: 33.33%;
}
.fb footer span {
  color: var(--red);
  font-weight: 700;
}
.in footer {
  display: none;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-big);
  position: absolute;
  width: 100%;
  bottom: var(--footer-height);
  color: var(--white);
}
#logo img {
  height: var(--x-large);
  border: 1px solid var(--gray);
  border-radius: 50%;
  padding: 3px;
  margin: var(--small) var(--small) var(--small) 0;
}

.in div.followInsta {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  margin-right: var(--large);
}
.in div.followInsta span {
  color: var(--red);
  transform: rotate(39deg);
  font-size: var(--font-size-big);
}
.fb div.followInsta {
  display: none;
}




/*MAIN*/
main {
  margin: var(--large);
  padding: var(--large) 0;
  border: 1px solid var(--black);
  border-radius: var(--medium);
  background: rgba(255,255,255, 0.6);
  position: relative;
}
main::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('./img/italy.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 80%;
  opacity: .25;
  position: absolute;
}
#legend {
  position: absolute;
  right: 22%;
  top: 80%;
  font-weight: 500;
  font-size: var(--font-size-big);
}
#legend div {
  position: relative;
}
#legend div::before {
  content: '';
  width: var(--x-large);
  height: var(--x-large);
  background-repeat: no-repeat;
  background-size: 75%;
  display: inline-block;
  background-color: #FFF;
  position: absolute;
  left: calc( ( -1 * var(--x-large) - .4rem) );
  border-radius: 50%;
  border: 1px solid var(--gray);
  background-position: 50%;
}
#legend .male::before {
  background-image: url('/imgs/male.png');
}
#legend .female::before {
  background-image: url('/imgs/female.png');
}

.wrap {
  display: flex;
  align-items: center;
  width: 97%;
  margin: 0 auto 7px;
  border-right: 1px dashed var(--black);
}
.icon {
  margin-right: var(--x-large);
  /*font-size: var(--font-size-big);*/
  color: var(--black);
  width: var(--large);
}
.charts {
  width: 100%;
  position: relative;
}
.chart {
  position: relative;
  margin: 1px 0;
  height: 1.2rem;
  /*font-size: var(--font-size-small);*/
  line-height: 1.2rem;
  text-align: right;
  border-radius: var(--small);
  color: var(--black);
  text-shadow: 0 0 var(--black);
  border: 1px solid var(--black);
}
.chart.green {
  background-color: var(--green);
  color: var(--white);
}
.chart.red {
  background-color: var(--red);
}
.chart:before {
  /*content: '';*/
  width: var(--x-large);
  height: var(--x-large);
  background-repeat: no-repeat;
  background-size: 75%;
  display: inline-block;
  background-color: var(--white);
  position: absolute;
  left: calc( -1 * (var(--x-large) / 2) );
  border-radius: 50%;
  padding: 0px;
  border: 1px solid #333;
  top: -1px;
  background-position: 50%;
}
.first {
  background-color: var(--first-color);
}
.first:before {
  background-image: url('/imgs/male.png');
}
.second {
  background-color: var(--second-color);
}
.second:before {
  background-image: url('/imgs/female.png');
}

.alert {
  position: absolute;
  color: var(--black);
  font-size: var(--font-size-small);
  text-shadow: 0 0 var(--gray);
  max-width: 25rem;
  line-height: 100%;
}
.alert::before {
  content: '\21B6';
  margin-right: 5px;
  font-size: var(--font-size-big);
  transform: rotate(39deg);
  display: inline-block;
}
.alert.alpha {
  top: 13%;
  left: 58%;
}
.alert.beta {
  top: 16%;
  left: 41%;
}


.y-1999 .first {
  width: 53.7242%
}
.y-1999 .second {
  width: 100%;
}

.y-2000 .first {
  width: 54.3039%
}
.y-2001 .first {
  width: 53.5282%
}
.y-2002 .first {
  width: 53.8198%
}
.y-2003 .first {
  width: 54.4063%
}
.y-2004 .first {
  width: 56.2599%
}
.y-2005 .first {
  width: 55.4022%
}
.y-2006 .first {
  width: 56.001%
}
.y-2007 .first {
  width: 56.3933%
}
.y-2008 .first {
  width: 57.6659%
}
.y-2009 .first {
  width: 56.8857%
}
.y-2010 .first {
  width: 56.1944%
}
.y-2011 .first {
  width: 54.6585%
}
.y-2012 .first {
  width: 53.4186%
}
.y-2013 .first {
  width: 51.4308%
}
.y-2014 .first {
  width: 50.2596%
}
.y-2015 .first {
  width: 48.578%
}
.y-2016 .first {
  width: 47.3438%
}
.y-2017 .first {
  width: 45.8151%
}
.y-2018 .first {
  width: 43.9747%
}
.y-2019 .first {
  width: 42.0084%
}
.y-2020 .first {
  width: 40.4892%
}
.y-2021 .first {
  width: 40.0249%
}
